<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon icon--primary collapsible__icon">
      <use xlink:href="images/sprite.svg#clock"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quam laborum
    quas, illo fugiat assumenda dolorum numquam eum velit tenetur amet
    consectetur obcaecati consequuntur ut.
  </div>
</div>
<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon icon--primary collapsible__icon">
      <use xlink:href="images/sprite.svg#clock"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quam laborum
    quas, illo fugiat assumenda dolorum numquam eum velit tenetur amet
    consectetur obcaecati consequuntur ut.
  </div>
</div>
<script src="js/main.js"></script>
