<div class="card testimonial">
  <div class="grid grid--cols-2">
    <div class="testimonial__image">
      <img src="images/testimonial.jpg" alt="happy smiling customer" />
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <blockquote class="quote">
      <p class="quote__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum vel alias
        recusandae distinctio! Voluptatibus assumenda modi dignissimos, at quia
        vel.
      </p>
      <footer>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary quote__image">
              <use xlink:href="images/sprite.svg#quotes"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">John Smith</h3>
            <p class="quote__company">ABC company</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
